
.c {
    margin: 0px;
    padding: 0;
    width: 70px;
    height: 70px;
    background-color: rgb(36, 44, 114);
    color: rgb(13, 189, 13);
    font-size: 45px;
    border: 0.3px solid rgb(12, 5, 5);
    cursor: pointer;
    transition: all 0.3s ease;
}
.c:hover {
    background-color: rgb(26, 45, 148);
}

.less-than-sign {
    margin: 0px;
    padding: 0;
    width: 70px;
    height: 70px;
    background-color: rgb(36, 44, 114);
    color: rgb(13, 189, 13);
    font-size: 40px;
    border: 0.3px solid rgb(12, 5, 5);
    cursor: pointer;
    transition: all 0.3s ease;
}
.less-than-sign:hover {
    background-color: rgb(26, 45, 148);
}

.division-slash {
    margin: 0px;
    padding: 0;
    width: 70px;
    height: 70px;
    background-color: rgb(36, 44, 114);
    color: rgb(13, 189, 13);
    font-size: 40px;
    border: 0.3px solid rgb(12, 5, 5);
    cursor: pointer;
    transition: all 0.3s ease;
}
.division-slash:hover {
    background-color: rgb(26, 45, 148);
}

.multiplication-sign {
    margin: 0px;
    padding: 0;
    width: 70px;
    height: 70px;
    background-color: rgb(36, 44, 114);
    color: rgb(13, 189, 13);
    font-size: 40px;
    border: 0.3px solid rgb(12, 5, 5);
    cursor: pointer;
    transition: all 0.3s ease;
}
.multiplication-sign:hover {
    background-color: rgb(26, 45, 148);
}

.seven {
    margin: 0px;
    padding: 0;
    width: 70px;
    height: 70px;
    background-color: rgb(36, 44, 114);
    color: white;
    font-size: 40px;
    text-align: center;
    border: 0.3px solid rgb(12, 5, 5);
    cursor: pointer;
    transition: all 0.3s ease;
}
.seven:hover {
    background-color: rgb(26, 45, 148);
}

.eight {
    margin: 0px;
    padding: 0;
    width: 70px;
    height: 70px;
    background-color: rgb(36, 44, 114);
    color: white;
    font-size: 40px;
    border: 0.3px solid rgb(12, 5, 5);
    cursor: pointer;
    transition: all 0.3s ease;
}
.eight:hover {
    background-color: rgb(26, 45, 148);
}

.nine {
    margin: 0px;
    padding: 0;
    width: 70px;
    height: 70px;
    background-color: rgb(36, 44, 114);
    color: white;
    font-size: 40px;
    border: 0.3px solid rgb(12, 5, 5);
    cursor: pointer;
    transition: all 0.3s ease;
}
.nine:hover {
    background-color: rgb(26, 45, 148);
}

.minus-sign {
    margin: 0px;
    padding: 0;
    width: 70px;
    height: 70px;
    background-color: rgb(36, 44, 114);
    color: rgb(13, 189, 13);
    font-size: 40px;
    border: 0.3px solid rgb(12, 5, 5);
    cursor: pointer;
    transition: all 0.3s ease;
}
.minus-sign:hover {
    background-color: rgb(26, 45, 148);
}

.four {
    margin: 0px;
    padding: 0;
    width: 70px;
    height: 70px;
    background-color: rgb(36, 44, 114);
    color: white;
    font-size: 40px;
    border: 0.3px solid rgb(12, 5, 5);
    cursor: pointer;
    transition: all 0.3s ease;
}
.four:hover {
    background-color: rgb(26, 45, 148);
}

.five {
    margin: 0px;
    padding: 0;
    width: 70px;
    height: 70px;
    background-color: rgb(36, 44, 114);
    color: white;
    font-size: 40px;
    border: 0.3px solid rgb(12, 5, 5);
    cursor: pointer;
    transition: all 0.3s ease;
}
.five:hover {
    background-color: rgb(26, 45, 148);
}

.six {
    margin: 0px;
    padding: 0;
    width: 70px;
    height: 70px;
    background-color: rgb(36, 44, 114);
    color: white;
    font-size: 40px;
    border: 0.3px solid rgb(12, 5, 5);
    cursor: pointer;
    transition: all 0.3s ease;
}
.six:hover {
    background-color: rgb(26, 45, 148);
}

.plus-sign {
    margin: 0px;
    padding: 0;
    width: 70px;
    height: 70px;
    background-color: rgb(36, 44, 114);
    color: rgb(13, 189, 13);
    font-size: 40px;
    border: 0.3px solid rgb(12, 5, 5);
    cursor: pointer;
    transition: all 0.3s ease;
}
.plus-sign:hover {
    background-color: rgb(26, 45, 148);
}

.one {
    margin: 0px;
    padding: 0;
    width: 70px;
    height: 70px;
    background-color: rgb(36, 44, 114);
    color: white;
    font-size: 40px;
    border: 0.3px solid rgb(12, 5, 5);
    cursor: pointer;
    transition: all 0.3s ease;
}
.one:hover {
    background-color: rgb(26, 45, 148);
}

.two {
    margin: 0px;
    padding: 0;
    width: 70px;
    height: 70px;
    background-color: rgb(36, 44, 114);
    color: white;
    font-size: 40px;
    border: 0.3px solid rgb(12, 5, 5);
    cursor: pointer;
    transition: all 0.3s ease;
}
.two:hover {
    background-color: rgb(26, 45, 148);
}

.three {
    margin: 0px;
    padding: 0;
    width: 70px;
    height: 70px;
    background-color: rgb(36, 44, 114);
    color: white;
    font-size: 40px;
    border: 0.3px solid rgb(12, 5, 5);
    cursor: pointer;
    transition: all 0.3s ease;
}
.three:hover {
    background-color: rgb(26, 45, 148);
}

.equal-sign {
    margin: 0px;
    padding: 0;
    width: 70px;
    height: 70px;
    background-color: rgb(36, 44, 114);
    color: rgb(13, 189, 13);
    font-size: 40px;
    border: 0.3px solid rgb(12, 5, 5);
    cursor: pointer;
    transition: all 0.3s ease;
}
.equal-sign:hover {
    background-color: rgb(26, 45, 148);
}

.dot-operator {
    margin: 0px;
    padding: 0;
    width: 70px;
    height: 70px;
    background-color: rgb(36, 44, 114);
    color: white;
    font-size: 55px;
    border: 0.3px solid rgb(12, 5, 5);
    cursor: pointer;
    transition: all 0.3s ease;
}

.dot-operator:hover {
    background-color: rgb(26, 45, 148);
}

.zero {
    margin: 0;
    padding: 0;
    width: 140px;
    height: 70px;
    background-color: rgb(36, 44, 114);
    color: white;
    border: 0.3px solid rgb(12, 5, 5);
    font-size: 50px;
    border-radius: 0 0 0 30px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.zero:hover {
    background-color: rgb(26, 45, 148);
}
