body {
  margin: 0;
  padding: 0;
  background-color: #f0d1fa;
}


.app {
  margin: 50px auto;
  padding: 0;
  width: 280px;
  background-color:  rgb(36, 44, 114);
  border-radius: 30px 30px 30px 30px;
  
}
